/* components/buttons.css */
.login-button {
    margin-top: 20px;
    margin-right: 10px; 
    background-color: #006e3b; 
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    display: inline-block;
}

.login-button:hover {
    background-color: #00cf34; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.register-button {
    margin-top: 20px;
    background-color: #ff8c00; 
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    display: inline-block;
}

.register-button:hover {
    background-color: #ffa500; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}


#show-password-button {
    border: none;
    background: none;
    cursor: pointer;
}

#show-password-button:hover svg,
#show-password-button:focus svg {
    fill: #666;
}

/* Styles for password display icon */
#show-password-button svg {
    fill: #333;
    transition: fill 0.2s ease-in-out;
}

.malwarebazarbutton {
    padding: 10px 20px;
    background-color: #4CAF50; 
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.malwarebazarbutton:hover {
    background-color: #45a049; 
}

.runMalware {
    background-color: #2ecc71; 
    color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.runMalware:hover {
    background-color: #27ae60; 
}

.displaycsvcontent {
    padding: 10px 20px;
    background-color: #4CAF50; 
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.displaycsvcontent:hover {
    background-color: #45a049; 
}

.displaycsvcontent:disabled {
    background-color: #ddd; 
    cursor: not-allowed;
}

#restoreButton {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}

#restoreButton:hover {
    background-color: #43a047; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#powerOffButton, #startVmButton {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}

#powerOffButton {
    background-color: #f44336; /* Red for power off */
}

#powerOffButton:hover {
    background-color: #d32f2f; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#startVmButton {
    background-color: #2196F3; /* Blue for start VM */
}

#startVmButton:hover {
    background-color: #1976D2; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#restartWinlogbeatButton {
    background-color: #FFC107; /* Yellow for restart Winlogbeat */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}

#restartWinlogbeatButton:hover {
    background-color: #FFB300; /* Darker yellow on hover */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.forensic-button {
    background-color: #007bff; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px; 
}

.forensic-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #007bff;
}


