/* components/forms.css */
.form-section {
    flex-basis: 40%; 
    background-color: white; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 2em; 
}

.input-container {
    position: relative; 
    display: flex;
    align-items: center; 
    width: 100%; 
    margin-bottom: 20px; 
}

.input-icon {
    position: absolute;
    right: 700px; 
    fill: #333;
    z-index: 10;
    pointer-events: none;
}

input[type="email"],
input[type="password"] {
    padding: 12px 20px 0px 70px; 
    font-size: 55px; 
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%; 
    box-sizing: border-box; 
}

form input[type="text"],
form select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
