# ============================== Winlogbeat Configuration ================================

# Configuration de base de Winlogbeat pour envoyer les logs de Windows à OpenSearch

winlogbeat.event_logs:
  - name: Application
    ignore_older: 72h
  - name: System
    ignore_older: 72h
  - name: Security
    ignore_older: 72h
  # Logs Sysmon
  - name: Microsoft-Windows-Sysmon/Operational
    ignore_older: 72h
  # Logs PowerShell
  - name: Microsoft-Windows-PowerShell/Operational
    ignore_older: 72h
  # Logs RDP
  - name: Microsoft-Windows-TerminalServices-LocalSessionManager/Operational
    ignore_older: 72h
  - name: Microsoft-Windows-TerminalServices-RemoteConnectionManager/Operational
    ignore_older: 72h

# ============================== Output Configuration ===============================

output.elasticsearch:
  hosts: ["https://{{ opensearch_host }}:9200"]
  username: "admin"
  password: "admin123"
  ssl.verification_mode: "none"
  allow_older_versions: true
  api_key: null  
  index: "winlogbeat-%{+yyyy.MM.dd}"

# ============================== Disable Kibana and Dashboards ===========================

setup.template.enabled: false
setup.ilm.enabled: false
setup.kibana.host: ""  
setup.dashboards.enabled: false

# ============================== Logging Configuration ==============================

logging.level: info
logging.to_files: true
logging.files:
  path: C:/ProgramData/winlogbeat/logs
  name: winlogbeat
  keepfiles: 7
  permissions: 0644

# ============================== Processors Configuration =========================

processors:
  - add_host_metadata: ~
  - add_process_metadata:
      match_pids: [system.process.pid]
  - add_locale: ~
