/* layout/sidebar.css */
.sidebar {
    position: fixed;
    right: 0;
    width: 20%;
    height: 82vh; 
    background-color: #33ff00;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    bottom: 0; 
    border-radius: 20px 0 0 0; 
  }
  
  .sidebar.active {
    transform: translateX(0);
  }
  
  .sidebar-section {
    margin-bottom: 20px;
  }
  