/* pages/log-simulation.css */
.log_simulation_container {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2em auto; 
    font-family: 'Arial', sans-serif; 
}

.log_simulation_container h2 {
    color: #333333; 
    text-align: center;
    margin-bottom: 30px;
}

.log_simulation_field {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.log_simulation_field label {
    font-size: 1em;
    color: #333333;
    margin-bottom: 5px;
}

.log_simulation_field {
    margin-bottom: 25px;
}
.log_simulation_field input,
.log_simulation_field select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.1em;
}

.log_simulation_field input:focus,
.log_simulation_field select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#logSimulationForm button {
    background-color: #007BFF; 
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

#logSimulationForm button:hover {
    background-color: #0056b3; 
}
