.mitre-attack-image {
    text-align: center; 
    margin-top: 20px; 
}
.mitre-attack-image img {
    max-width: 30%; 
    height: auto; 
}

.atomic-image {
    text-align: center;
    margin-top: 20px; 
}
.atomic-image img {
    max-width: 18%; 
    height: auto;
}

.loading-icon {
    text-align: center; 
    margin-top: 50px; 
}

.loading-icon img {
    width: 100px; 
    height: auto; 
}

.search-container-mittre {
    margin: 20px auto;
    max-width: 500px;
    position: relative;
}

#searchInput {
    width: 100%;
    padding: 10px 20px 10px 40px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ccc;
}

.search-results-mittre {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #1e1e2f; 
    color: #cbd3da; 
}

.search-results-mittre th,
.search-results-mittre td {
    border: 1px solid #444851; 
    padding: 8px;
    text-align: left;
}

.search-results-mittre th {
    background-color: #2e2e3e; 
    color: #ffffff; 
}

.search-results-mittre tr:nth-child(even) {
    background-color: #252538; 
}

.search-results-mittre tr:hover {
    background-color: #33334a; 
}

.details-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #1e1e2f; 
    color: #cbd3da; 
}

.details-table th, .details-table td {
    border: 1px solid #444851; 
    padding: 8px;
    text-align: left;
}

.details-table th {
    background-color: #2e2e3e; 
    color: #ffffff; 
}

.details-table tr:nth-child(even) {
    background-color: #252538; 
}

.details-table tr:hover {
    background-color: #33334a; 
}

.details-table button {
    padding: 5px 10px;
    background-color: #6A0DAD; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.details-table button:hover {
    background-color: #8A2BE2; 
}


.update-btn {
    padding: 10px 20px;
    background: linear-gradient(45deg, #6A0DAD, #8A2BE2, #DA70D6); 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.update-btn .fa-sync {
    margin-right: 5px;
}

.update-btn:hover {
    background: linear-gradient(45deg, #8A2BE2, #DA70D6, #EE82EE); 
    transform: scale(1.05); 
}

.fa-spin {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
