.mitre-attack-image {
    text-align: center; 
    margin-top: 20px; 
}
.mitre-attack-image img {
    max-width: 30%; 
    height: auto; 
}

.atomic-image {
    text-align: center;
    margin-top: 20px; 
}
.atomic-image img {
    max-width: 18%; 
    height: auto;
}

.loading-icon {
    text-align: center; 
    margin-top: 10px; 
}


.search-container-mittre {
    margin: 20px auto;
    max-width: 500px;
    position: relative;
}

#searchInput {
    width: 100%;
    padding: 10px 20px 10px 40px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ccc;
}


.search-results-mittre {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.search-results-mittre th,
.search-results-mittre td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.search-results-mittre th {
    background-color: #f2f2f2;
    color: #333;
}

.search-results-mittre tr:nth-child(even) {
    background-color: #f9f9f9;
}

.search-results-mittre tr:hover {
    background-color: #eaeaea;
}

.details-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.details-table th, .details-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.details-table th {
    background-color: #f2f2f2;
    color: #333;
}

.details-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.details-table tr:hover {
    background-color: #eaeaea;
}

.details-table button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.details-table button:hover {
    background-color: #0056b3;
}

.update-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update-btn .fa-sync {
    margin-right: 5px;
}

.update-btn:hover {
    background-color: #218838;
}

.fa-spin {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}