/* pages/sigma.css */
.sigma-header {
    color: #cbd3da;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.sigma-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2e2e3e;
    color: #cbd3da;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    border: 1px solid #4a4a4a;
    text-align: left;
}

.sigma-link:hover {
    background-color: #38384f;
    border-color: #5a5a5a;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.sigma-back-link {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #8a2be2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    border: 1px solid #8a2be2;
    text-align: center;
}

.sigma-back-link:hover {
    background-color: #6A0DAD;
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.sigma-content {
    margin-top: 20px;
    padding: 20px;
    background: #1f1f2e;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    color: #cbd3da;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.sigma-search-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.sigma-search-box {
    padding: 12px 15px;
    margin-right: 8px;
    border-radius: 20px;
    border: 2px solid #3a3a3a;
    width: 62%; 
    background-color: #2e2e3e;
    color: #cbd3da;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    box-sizing: border-box;
    height: 48px; 
}

.sigma-search-box:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-color: #824ed9;
}

.sigma-search-btn {
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(45deg, #6A0DAD, #8A2BE2, #DA70D6);
    color: white;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    height: 48px; 
    box-sizing: border-box;
}


.sigma-search-btn:hover {
    background: linear-gradient(45deg, #8A2BE2, #DA70D6, #EE82EE);
    transform: scale(1.05);
}

.sigma-copy-icon {
    margin-right: 15px;
}

.sigma-convert-icon {
    cursor: pointer;
}

.sigma-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 10px;
}

.sigma-modal-content {
    position: relative;
    background-color: #1f1f2e;
    margin: 10px auto;
    padding: 20px;
    border: none;
    width: calc(100% - 40px);
    max-height: calc(100vh - 20px);
    max-width: 800px;
    overflow: auto;
    border-radius: 5px;
    color: #cbd3da;
}

.sigma-close {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
}

.sigma-close:hover,
.sigma-close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.sigma-copy-btn, .sigma-convert-btn {
    background: linear-gradient(45deg, #6A0DAD, #8A2BE2, #DA70D6);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.sigma-copy-btn:hover, .sigma-convert-btn:hover {
    background: linear-gradient(45deg, #8A2BE2, #DA70D6, #EE82EE);
    color: white;
    border: none;
    transform: scale(1.05);
}


.sigma-file-content {
    background: #2e2e3e;
    border-left: 4px solid #824ed9;
    margin: 10px 0;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #cbd3da;
    position: relative;
}

.sigma-file-content h2 {
    color: #824ed9;
    margin-bottom: 10px;
}

.sigma-file-content pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    background: #1f1f2e;
    border: 1px solid #3a3a3a;
    padding: 10px;
    border-radius: 4px;
    max-height: 400px;
    overflow-y: auto;
    color: #cbd3da;
}

.sigma-convert-icon {
    display: inline-block;
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 10px;
}

.sigma-convert-icon i {
    color: #824ed9;
}

.sigma-convert-icon:hover i {
    color: #003975;
}

.sigma-convert-btn {
    background-color: #008CBA;
    color: white;
    border: 1px solid transparent;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.sigma-convert-btn:hover {
    background-color: white;
    color: #008CBA;
    border: 1px solid #008CBA;
}

.sigma-back-link {
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
}

